@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative);

/* Header Styling */

h1, h2 {
  text-align: center;
  line-height: 100%;
  font-family: "Cinzel Decorative", Georgia, serif;
}

h1 {
  font-size: 50px;
};

h2 {
  font-size: 40px;
}
h3 {
  text-align: center;
}

.country {
  height: 400px;
  width: 800px;
  border: 1px dashed;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
}

/* Ukraine */
#ukraine div {
  height: 175px;
  width: 800px;
}

#box1 {
  background-color: blue;
}

#box2 {
  background-color: yellow;
}

/* Germany */
#germany div {
  height: 115px;
  width: 800px;
}

#box3 {
  background-color: black;
}

#box4 {
  background-color: red;
}
#box5 {
  background-color: yellow;
}

/* Lithuania */
#lithuania div {
  height: 115px;
  width: 800px;
}
#box6 {
  background-color: orange;
}

#box7 {
  background-color: green;
}
#box8 {
  background-color: red;
}

/* Yemen */
#yemen div {
  height: 115px;
  width: 800px;
}
#box9 {
  background-color: red;
  margin-bottom: 115px;
}
#box11 {
  background-color: black;
}
/* The Gambia */
#gambia div {
  height: 100px;
  width: 800px;
  display: block;
}
#box12 {
  background-color: red;
  margin-bottom: 20px;
}
#box13 {
  background-color:darkblue ;
  margin-bottom: 20px;
}
  #box14 {
  background-color: green;
}

/* Chad */
#chad div {
}
#box15 {
  background-color: darkblue;
  height: 350px;
   width: 266px;
  float: left;
}
#box16 {
  background-color:orange ;
  height: 350px;
   width: 266px;
  float: left;
}

#box17 {
  background-color: red;
  height: 350px;
   width: 266px;
  float: left;
}

/* France */
#france div {
}
#box18 {
  background-color: darkblue;
  float: left;
  height: 350px;
  width: 266px;
}
#box19{
 background-color: red;
  height: 350px;
  width: 266px;
 margin-left: 266px;
  float: left;
}

/* Benin */
  #benin div {
}
#box20 {
  background-color: green;
  float: left;
  height: 350px;
  width: 250px;
}
#box21 {
  background-color: orange;
  float: left;
  height: 175px;
  width: 550px;
}
#box22 {
  background-color: red;
  float: left;
  height: 175px;
  width: 550px;
}

/* UAE */
 #uae div {
}
#box23 {
  background-color: red;
  float: left;
  height: 348px;
  width: 150px;
}
#box24 {
  background-color: green;
  float: left;
  height: 116px;
  width: 650px;
}
#box25 {
  background-color: black;
  float: left;
  height: 116px;
  width: 650px;
  margin-top: 116px;
}
/* Denmark */
#box26 {
  background-color: darkred;
  float: left;
  height: 144px;
  width: 220px;
  margin-top: 30px;
margin-right: 30px;
}
#box27 {
  background-color: darkred;
float: right;
  height: 144px;
  width: 550px;
margin-top: 30px;
}
#box28 {
  background-color: darkred;
  float: left;
  height: 144px;
  width: 220px;
 margin-top: 30px;
 margin-right: 30px;
}
#box29 {
  background-color: darkred;
  float: right;
  height: 144px;
  width: 550px;
margin-top: 30px;
}
/* Norway */
#box30 {
  background-color: red;
  float: left;
  height: 114px;
  width: 200px;
   margin-bottom:30px;
 margin-right:30px;

}
#box31 {
  background-color: red;
float: right;
  height: 114px;
  width: 480px;
   margin-bottom:30px;
 margin-left:30px;

}
#box32 {
  background-color: darkblue;
float: right;
  height: 144px;
  width: 60px;
}
#box33 {
  background-color: darkblue;
  float: right;
  height: 60px;
  width: 800px;
}
#box34 {
  background-color: red;
  float: left;
  height: 114px;
  width: 200px;
   margin-top:30px;
 margin-right:30px;

}
#box35 {
  background-color: red;
float: right;
  height: 114px;
  width: 480px;
   margin-top:30px;
 margin-left:30px;

}
#box36 {
  background-color: darkblue;
float: right;
  height: 144px;
  width: 60px;
}


/* Greece */
#box30 {
  background-color: red;
  float: left;
  height: 114px;
  width: 200px;
   margin-bottom:30px;
 margin-right:30px;

}
#box31 {
  background-color: red;
float: right;
  height: 114px;
  width: 480px;
   margin-bottom:30px;
 margin-left:30px;

}
#box32 {
  background-color: darkblue;
float: right;
  height: 144px;
  width: 60px;
}
#box33 {
  background-color: darkblue;
  float: right;
  height: 60px;
  width: 800px;
}
#box34 {
  background-color: red;
  float: left;
  height: 114px;
  width: 200px;
   margin-top:30px;
 margin-right:30px;

}
#box35 {
  background-color: red;
float: right;
  height: 114px;
  width: 480px;
   margin-top:30px;
 margin-left:30px;

}
#box36 {
  background-color: darkblue;
float: right;
  height: 144px;
  width: 60px;
}


/* Greece */
#box37 {
  background-color: navy;
  float: left;
  height: 78px;
  width: 78px;
   margin-bottom:39px;
 margin-right:39px;

}
#box38 {
  background-color: navy;
float: left;
 height: 78px;
  width: 78px;
}
#box39{
  background-color: navy;
float: right;
   height: 39px;
  width: 605px;
margin-bottom:39px;
}
#box40{
  background-color: navy;
float: right;
  height: 39px;
  width: 605px;
  margin-bottom:39px;
}
#box41 {
  background-color: navy;
  float: left;
  height: 78px;
  width: 78px;
  margin-right:39px;
}
#box42 {
  background-color: navy;
  float: left;
  height: 78px;
  width: 78px;
}
#box43 {
  background-color: navy;
float: right;
  height: 39px;
  width: 605px;
}
#box44{
  background-color: navy;
float: right;
  height: 39px;
  width: 800px;
  margin-top: 39px;
}
#box45 {
  background-color: navy;
float: right;
  height: 39px;
  width: 800px;
  margin-top: 39px;
}




